{% extends "layout.html" %}


{% block head%}
<title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}

    <section class="cards" >
        <div class="card" id="burguer.png" >
            <!--cada card terá id-->
            <div class="card__image-container">
                <img src="/assets/burger.png" alt="burger">
            </div>
            <div class="card__title">
                <p>Triplo bacon burguer</p>
            </div>
            <div class="card__author">
                <p>por Jorge Relato</p>
            </div>
        </div>

        <div class="card" id="pizza.png">
            <div class="card__image-container"  >
                <img src="/assets/pizza.png" alt="pizza">
            </div>
            <div class="card__title">
                <p>Pizza 4 estações</p>
            </div>
            <div class="card__author">
                <p>por Fabiana Melo</p>
            </div>
        </div>

        <div class="card" id="espaguete.png">
            <div class="card__image-container" >
                <img src="/assets/espaguete.png" alt="espaguete">
            </div>
            <div class="card__title">
                <p>Espaguete ao alho</p>
            </div>
            <div class="card__author">
                <p>por Júlia Kinoto</p>
            </div>
        </div>

        <div class="card" id="lasanha.png">
            <div class="card__image-container" >
                <img src="/assets/lasanha.png" alt="lasanha">
            </div>
            <div class="card__title">
                <p>Lasanha mac n' cheese</p>
            </div>
            <div class="card__author">
                <p>por Juliano Vieira</p>
            </div>
        </div>

        <div class="card" id="doce.png">
            <div class="card__image-container" >
                <img src="/assets/doce.png" alt="doce">
            </div>
            <div class="card__title">
                <p>Docinhos pão-do-céu</p>
            </div>
            <div class="card__author">
                <p>por Ricardo Golvea</p>
            </div>
        </div>

        <div class="card" id="asinhas.png">
            <div class="card__image-container" >
                <img src="/assets/asinhas.png" alt="asinhas de frango">
            </div>
            <div class="card__title">
                <p>Asinhas de frango ao barbecue</p>
            </div>
            <div class="card__author">
                <p>por Vania Steroski</p>
            </div>
        </div>

        <div class="card" id="burguer.png">
            <!--cada card terá id-->
            <div class="card__image-container" >
                <img src="/assets/burger.png" alt="burger-triplo">
            </div>
            <div class="card__title">
                <p>Triplo bacon burguer</p>
            </div>
            <div class="card__author">
                <p>por Jorge Relato</p>
            </div>
        </div>

        <div class="card" id="pizza.png">
            <div class="card__image-container" >
                <img src="/assets/pizza.png" alt="pizza">
            </div>
            <div class="card__title">
                <p>Pizza 4 estações</p>
            </div>
            <div class="card__author">
                <p>por Fabiana Melo</p>
            </div>
        </div>

        <div class="card" id="espaguete.png">
            <div class="card__image-container" >
                <img src="/assets/espaguete.png" alt="espaguete">
            </div>
            <div class="card__title">
                <p>Espaguete ao alho</p>
            </div>
            <div class="card__author">
                <p>por Júlia Kinoto</p>
            </div>
        </div>

        <div class="card" id="lasanha.png">
            <div class="card__image-container" >
                <img src="/assets/lasanha.png" alt="lasanha">
            </div>
            <div class="card__title">
                <p>Lasanha mac n' cheese</p>
            </div>
            <div class="card__author">
                <p>por Juliano Vieira</p>
            </div>
        </div>

        <div class="card" id="doce.png">
            <div class="card__image-container" >
                <img src="/assets/doce.png" alt="doce">
            </div>
            <div class="card__title">
                <p>Docinhos pão-do-céu</p>
            </div>
            <div class="card__author">
                <p>por Ricardo Golvea</p>
            </div>
        </div>

        <div class="card" id="asinhas.png">
            <div class="card__image-container" >
                <img src="/assets/asinhas.png" alt="asinhas de frango">
            </div>
            <div class="card__title">
                <p>Asinhas de frango ao barbecue</p>
            </div>
            <div class="card__author">
                <p>por Vania Steroski</p>
            </div>
        </div>
    </section>
    </div>

    <div class="modal-overlay">

        <div class="modal">
            <a class="close-modal">
                <p>Fechar modal</p>
            </a>

            <div class="modal-content">
                <img src="/assets/burger.png">
                <div class="card__title">
                    <p></p>
                </div>
                <div class="card__author">
                    <p></p>
                </div>
            </div>
        </div>

    </div>
    <script src="/script.js"></script>

   {% endblock %}